JX - INFO - Timer(tic), MSG: WalaAnalyzer begin
JX - INFO - Timer(toc->toc): 8.63s, (tic->toc): 8.63s, MSG: WalaAnalyzer end
JX - INFO - Timer(toc->toc): 0.838s, (tic->toc): 9.468s, MSG: lockAnalyzer end
JX - INFO - Timer(toc->toc): 0.073s, (tic->toc): 9.541s, MSG: loopAnalyzer end
JX - INFO - Timer(toc->toc): 0.067s, (tic->toc): 9.608s, MSG: loopingLockAnalyzer end
JX - INFO - Timer(toc->toc): 0.528s, (tic->toc): 10.136s, MSG: tcLoopAnalyzer end
JX - INFO - Timer(toc->toc): 0.486s, (tic->toc): 10.622s, MSG: LockingLoopAnalyzer end
