JX - INFO - Timer(tic), MSG: WalaAnalyzer begin
JX - INFO - Timer(toc->toc): 55.289s, (tic->toc): 55.289s, MSG: WalaAnalyzer end
JX - INFO - Timer(toc->toc): 1.886s, (tic->toc): 57.175s, MSG: lockAnalyzer end
JX - INFO - Timer(toc->toc): 0.183s, (tic->toc): 57.358s, MSG: loopAnalyzer end
JX - INFO - Timer(toc->toc): 0.104s, (tic->toc): 57.462s, MSG: loopingLockAnalyzer end
JX - INFO - Timer(toc->toc): 0.188s, (tic->toc): 57.65s, MSG: nestedLoopAnalyzer end
JX - INFO - Timer(toc->toc): 3.402s, (tic->toc): 61.052s, MSG: tcLoopAnalyzer end
JX - INFO - Timer(toc->toc): 8.87s, (tic->toc): 69.922s, MSG: LockingLoopAnalyzer end
