JX - INFO - Timer(tic), MSG: WalaAnalyzer begin
JX - INFO - Timer(toc->toc): 13.71s, (tic->toc): 13.71s, MSG: WalaAnalyzer end
JX - INFO - Timer(toc->toc): 0.697s, (tic->toc): 14.407s, MSG: lockAnalyzer end
JX - INFO - Timer(toc->toc): 0.121s, (tic->toc): 14.528s, MSG: loopAnalyzer end
JX - INFO - Timer(toc->toc): 0.047s, (tic->toc): 14.575s, MSG: loopingLockAnalyzer end
JX - INFO - Timer(toc->toc): 1.426s, (tic->toc): 16.001s, MSG: tcLoopAnalyzer end
JX - INFO - Timer(toc->toc): 0.42s, (tic->toc): 16.421s, MSG: LockingLoopAnalyzer end
