JX - INFO - Timer(tic), MSG: WalaAnalyzer begin
JX - INFO - Timer(toc->toc): 8.009s, (tic->toc): 8.009s, MSG: WalaAnalyzer end
JX - INFO - Timer(toc->toc): 0.08s, (tic->toc): 8.089s, MSG: loopAnalysis end
JX - INFO - Timer(toc->toc): 0.062s, (tic->toc): 8.151s, MSG: nestedLoopAnalyzer end
JX - INFO - Timer(toc->toc): 0.659s, (tic->toc): 8.81s, MSG: tcLoopAnalyzer end
JX - INFO - Timer(toc->toc): 0.003s, (tic->toc): 8.813s, MSG: Pruning end
JX - INFO - Timer(toc->toc): 23.397s, (tic->toc): 32.21s, MSG: boundedLoopAnalyzer end
JX - INFO - Timer(toc->toc): 0.0s, (tic->toc): 32.21s, MSG: 

 All done!
