JX - INFO - Timer(tic), MSG: WalaAnalyzer begin
JX - INFO - Timer(toc->toc): 54.341s, (tic->toc): 54.341s, MSG: WalaAnalyzer end
JX - INFO - Timer(toc->toc): 0.276s, (tic->toc): 54.617s, MSG: loopAnalysis end
JX - INFO - Timer(toc->toc): 0.193s, (tic->toc): 54.81s, MSG: nestedLoopAnalyzer end
JX - INFO - Timer(toc->toc): 1.27s, (tic->toc): 56.08s, MSG: tcLoopAnalyzer end
JX - INFO - Timer(toc->toc): 0.011s, (tic->toc): 56.091s, MSG: Pruning end
JX - INFO - Timer(toc->toc): 1127.61s, (tic->toc): 1183.701s, MSG: boundedLoopAnalyzer end
JX - INFO - Timer(toc->toc): 0.0s, (tic->toc): 1183.701s, MSG: 

 All done!
