JX - INFO - Timer(tic), MSG: WalaAnalyzer begin
JX - INFO - Timer(toc->toc): 140.367s, (tic->toc): 140.367s, MSG: WalaAnalyzer end
JX - INFO - Timer(toc->toc): 0.786s, (tic->toc): 141.153s, MSG: loopAnalysis end
JX - INFO - Timer(toc->toc): 0.199s, (tic->toc): 141.352s, MSG: nestedLoopAnalyzer end
JX - INFO - Timer(toc->toc): 2.418s, (tic->toc): 143.77s, MSG: tcLoopAnalyzer end
JX - INFO - Timer(toc->toc): 0.009s, (tic->toc): 143.779s, MSG: Pruning end
JX - INFO - Timer(toc->toc): 2154.214s, (tic->toc): 2297.993s, MSG: boundedLoopAnalyzer end
JX - INFO - Timer(toc->toc): 0.0s, (tic->toc): 2297.993s, MSG: 

 All done!
