JX - INFO - Timer(tic), MSG: WalaAnalyzer begin
JX - INFO - Timer(toc->toc): 59.898s, (tic->toc): 59.898s, MSG: WalaAnalyzer end
JX - INFO - Timer(toc->toc): 0.75s, (tic->toc): 60.648s, MSG: lockAnalyzer end
JX - INFO - Timer(toc->toc): 0.195s, (tic->toc): 60.843s, MSG: loopAnalyzer end
JX - INFO - Timer(toc->toc): 0.098s, (tic->toc): 60.941s, MSG: loopingLockAnalyzer end
JX - INFO - Timer(toc->toc): 1.446s, (tic->toc): 62.387s, MSG: tcLoopAnalyzer end
JX - INFO - Timer(toc->toc): 7.29s, (tic->toc): 69.677s, MSG: LockingLoopAnalyzer end
