JX - INFO - Timer(tic), MSG: WalaAnalyzer begin
JX - INFO - Timer(toc->toc): 54.168s, (tic->toc): 54.168s, MSG: WalaAnalyzer end
JX - INFO - Timer(toc->toc): 0.711s, (tic->toc): 54.879s, MSG: lockAnalyzer end
JX - INFO - Timer(toc->toc): 0.175s, (tic->toc): 55.054s, MSG: loopAnalyzer end
JX - INFO - Timer(toc->toc): 0.11s, (tic->toc): 55.164s, MSG: loopingLockAnalyzer end
JX - INFO - Timer(toc->toc): 0.197s, (tic->toc): 55.361s, MSG: nestedLoopAnalyzer end
JX - INFO - Timer(toc->toc): 1.319s, (tic->toc): 56.68s, MSG: tcLoopAnalyzer end
JX - INFO - Timer(toc->toc): 7.57s, (tic->toc): 64.25s, MSG: LockingLoopAnalyzer end
