JX - INFO - Timer(tic), MSG: WalaAnalyzer begin
JX - INFO - Timer(toc->toc): 9.197s, (tic->toc): 9.197s, MSG: WalaAnalyzer end
JX - INFO - Timer(toc->toc): 0.87s, (tic->toc): 10.067s, MSG: lockAnalyzer end
JX - INFO - Timer(toc->toc): 0.074s, (tic->toc): 10.141s, MSG: loopAnalyzer end
JX - INFO - Timer(toc->toc): 0.065s, (tic->toc): 10.206s, MSG: loopingLockAnalyzer end
JX - INFO - Timer(toc->toc): 0.082s, (tic->toc): 10.288s, MSG: nestedLoopAnalyzer end
JX - INFO - Timer(toc->toc): 0.439s, (tic->toc): 10.727s, MSG: tcLoopAnalyzer end
JX - INFO - Timer(toc->toc): 0.424s, (tic->toc): 11.151s, MSG: LockingLoopAnalyzer end
