JX - INFO - Timer(tic), MSG: WalaAnalyzer begin
JX - INFO - Timer(toc->toc): 92.237s, (tic->toc): 92.237s, MSG: WalaAnalyzer end
JX - INFO - Timer(toc->toc): 0.704s, (tic->toc): 92.941s, MSG: lockAnalyzer end
JX - INFO - Timer(toc->toc): 0.207s, (tic->toc): 93.148s, MSG: loopAnalyzer end
JX - INFO - Timer(toc->toc): 0.096s, (tic->toc): 93.244s, MSG: loopingLockAnalyzer end
JX - INFO - Timer(toc->toc): 3.63s, (tic->toc): 96.874s, MSG: tcLoopAnalyzer end
JX - INFO - Timer(toc->toc): 8.696s, (tic->toc): 105.57s, MSG: LockingLoopAnalyzer end
