JX - INFO - Timer(tic), MSG: WalaAnalyzer begin
JX - INFO - Timer(toc->toc): 8.157s, (tic->toc): 8.157s, MSG: WalaAnalyzer end
JX - INFO - Timer(toc->toc): 0.388s, (tic->toc): 8.545s, MSG: lockAnalyzer end
JX - INFO - Timer(toc->toc): 0.066s, (tic->toc): 8.611s, MSG: loopAnalyzer end
JX - INFO - Timer(toc->toc): 0.078s, (tic->toc): 8.689s, MSG: loopingLockAnalyzer end
JX - INFO - Timer(toc->toc): 0.385s, (tic->toc): 9.074s, MSG: tcLoopAnalyzer end
JX - INFO - Timer(toc->toc): 0.616s, (tic->toc): 9.69s, MSG: LockingLoopAnalyzer end
