JX - INFO - Timer(tic), MSG: WalaAnalyzer begin
JX - INFO - Timer(toc->toc): 88.295s, (tic->toc): 88.295s, MSG: WalaAnalyzer end
JX - INFO - Timer(toc->toc): 0.741s, (tic->toc): 89.036s, MSG: lockAnalyzer end
JX - INFO - Timer(toc->toc): 0.164s, (tic->toc): 89.2s, MSG: loopAnalyzer end
JX - INFO - Timer(toc->toc): 0.09s, (tic->toc): 89.29s, MSG: loopingLockAnalyzer end
JX - INFO - Timer(toc->toc): 1.494s, (tic->toc): 90.784s, MSG: tcLoopAnalyzer end
JX - INFO - Timer(toc->toc): 7.598s, (tic->toc): 98.382s, MSG: LockingLoopAnalyzer end
